.box {
    margin: 0px;
}

.list {
    margin: auto;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 900px;

}

.card {
    background-color: rgb(61, 230, 173);
    margin-bottom: 1.5em;
    width: 32vw;
    height: 32vw;
    max-width: 300px;
    max-height: 300px;
}

.card img {
    display: block;
    margin: auto;
    width: 75%;
}

.card p {
    margin: 0;
    display: flex;
    justify-content: center;
}