.box {
    display: flex;
    justify-content: center;
}

.list {
    margin: auto;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 900px;
}

.card {
    margin: 0.75em;
    width: 25vw;
    height: 25vw;
    max-width: 250px;
    max-height: 250px;
    border-radius: 1em;
    border: 1px solid black;
}

.card img {
    display: block;
    margin: auto;
    width: 75%;
}

.card p {
    margin: 0;
    display: flex;
    justify-content: center;
}

.flex {
    display: flex;
}